body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 700px;
    height: 100vh;
    position: relative;
    top: 10px;
    left: 150px;
    border-radius: 20px; */
    height: 100vh;
    /* background: #f0f2f5; */
    background: linear-gradient(135deg, #0073e6, #00aaff, #00509e, #1f75fe, #1e90ff, #4682b4);
}
.calculator-container{
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



.calculator-button {
    width: 70px;
    height: 45px;
    margin: 5px 2px;
    border-radius: 6px;
    font-size: 18px;
    background: #4f8aad;
    color: #000;
    cursor: pointer;

}

.calculator-button.operator {
    background: #336b87;
    color: #000;
}

.calculator-button:hover {
    background: #3b768e;
    transform: scale(1.05);

}


.calculator-button:active {
    background: #285f73;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.calculator-screen {
    width: 60%;
    height: 35px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 6px;
    font-size: 24px;
    padding: 10px;
    color: #000;
    margin-bottom: 20px;
    text-align: right;
}


.button1 {
    width: calc(70px*2);
}

.container {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 20px;
    border: 4px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 8.2);
    position: relative;
    right: 20px;
}

@media (max-width:600px) {
    .calculator-container {
        padding: 20px;
    }

    .container-button {
        width: 22%;
        height: 50%;
        font-size: 1em;
    }
    .calculator-screen{
        font-size: 20px;
        height: 30px;
    }
}
